<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ClearCache" value="ClearCache"/>

    <add key="SiteID" value="1" />
    <add key="DomainSite" value=".campaign.vn"/>

    <add key="URL.SVCPRODUCT" value="http://betawebservice.thegioididong.com/ProductSvc.asmx" />
    <add key="URL.SVCGAME" value="http://betawebservice.thegioididong.com/GamesSvc.asmx"/>
    <add key="URL.SVCCATEGORY" value="http://betawebservice.thegioididong.com/CategorySvc.asmx" />
    <add key="URL.SVCNEWS" value="http://betawebservice.thegioididong.com/NewsSvc.asmx" />
    <add key="URL.SVCSYSTEM" value="http://betawebservice.thegioididong.com/systemsvc.asmx" />
    <add key="URL.SVCERP" value="http://betaerpsupportservices.thegioididong.com/Web/WSWeb.asmx"/>
    <add key="URL.SVCCRMwebService" value="http://betacrmservices.thegioididong.com/CRMTGDD/CRMTGDDService.asmx"/>
    <add key="SVC.CRMCUSTOMERURL" value="http://betacrmservices.thegioididong.com/CRMTGDD/TGDDCustomerList.asmx"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!-- Sitecore default config -->
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
        <!-- Additional config pointing out the location of 
             the various versions included in our solution -->
        <codeBase version="10.0.0.0" href="bin\Newtonsoft v10.0\Newtonsoft.Json.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Elasticsearch" publicKeyToken="24c2f752a8e58a10" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.6.0" newVersion="1.4.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBannerSvc" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IProductSvc" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_ICategorySvc" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_ISystemSvc" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IGamesSvc" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_INewsSvc" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IFaqSvc" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_ICommentSvc" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_ICustomerBehavior" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_ISearch" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IReceiver" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BasicHttpBinding_IProductSvc2" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <clear/>
      <endpoint address="http://betase.thegioididong.com/Search.svc/search.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearch" contract="ApiSearch.ISearch" name="BasicHttpBinding_ISearch"/>
      <endpoint address="http://betaapi.thegioididong.com/bannersvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBannerSvc" contract="ApiBanner.IBannerSvc" name="BasicHttpBinding_IBannerSvc"/>
      <endpoint address="http://betaapi.thegioididong.com/productsvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductSvc" contract="ApiProduct.IProductSvc" name="BasicHttpBinding_IProductSvc"/>
      <endpoint address="http://betaapi.thegioididong.com/categorysvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategorySvc" contract="ApiCategory.ICategory" name="BasicHttpBinding_ICategorySvc"/>
      <endpoint address="http://betaapi.thegioididong.com/systemsvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISystemSvc" contract="ApiSystem.ISystemSvc" name="BasicHttpBinding_ISystemSvc"/>
      <endpoint address="http://betaapi.thegioididong.com/gamessvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGamesSvc" contract="ApiGame.IGamesSvc" name="BasicHttpBinding_IGamesSvc"/>
      <endpoint address="http://betaapi.thegioididong.com/newssvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsSvc" contract="ApiNews.INewsSvc" name="BasicHttpBinding_INewsSvc"/>
      <endpoint address="http://betaapi.thegioididong.com/faqsvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFaqSvc" contract="ApiFaq.IFaqSvc" name="BasicHttpBinding_IFaqSvc"/>
      <endpoint address="http://betaapi.thegioididong.com/commentsvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommentSvc" contract="ApiComment.ICommentSvc" name="BasicHttpBinding_ICommentSvc"/>
      <endpoint address="http://soffer.thegioididong.com/CustomerBehavior.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerBehavior" contract="ApiCustomerBehavior.ICustomerBehavior" name="BasicHttpBinding_ICustomerBehavior"/>
      <endpoint address="http://rtmapi.thegioididong.com/Receiver.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiver" contract="ApiNotify.IReceiver" name="BasicHttpBinding_IReceiver"/>
      <endpoint address="http://betaapi.dienmay.com/productsvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductSvc2" contract="apiProductDMX.IProductSvc" name="BasicHttpBinding_IProductSvc2"/>
    </client>
  </system.serviceModel>
</configuration>