Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/campaign.vivohotsale/bin
/campaign.thucudoimoi/obj
/campaign.thucudoimoi/bin
/campaign.thucudoimoi/Properties
/campaign.cheaponline2017/bin
/campaign.cheaponline2017/obj
/campaign.oppof11/obj
/campaign.oppof11/bin
/campaign.huaweiseries/bin
/campaign.manage/obj
/campaign.manage/bin
/campaign.find/obj
/campaign.find/bin
/campaign.galaxys10/obj
/campaign.galaxys10/bin
/campaign.accessorysock/obj
/campaign.accessorysock/bin
/campaign.accessorysock3/bin
/campaign.apple2017/bin
/campaign.apple2017/obj
/.vs
