* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.clr {
    clear: both;
}

body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px/18px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    color: #333;
    outline: none;
    background-color: #f1c40f;
}

.errorswrap {
    width: 978px;
    overflow: hidden;
    margin: 15px auto;
    font-size: 13px;
    color: #333;
    line-height: 18px;
    text-align: center;
}

    .errorswrap h1 {
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 40px;
    }

    .errorswrap .error-500 {
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 50px;
        margin-top: 40px;
    }

    .errorswrap .or {
        font-size: 16px;
    }

    .errorswrap .or-500 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .errorswrap .iconlink-500 {
        width: 400px;
        height: 120px;
        margin: 0px auto;
    }

        .errorswrap .iconlink-500 .error span {
            color: #fff;
            font-size: 16px;
            display: block;
            width: 130px;
        }

    .errorswrap .iconlink {
        width: 300px;
        height: 120px;
        margin: 0px auto;
    }

        .errorswrap .iconlink .error {
            width: 130px;
            float: left;
            cursor: pointer;
        }

            .errorswrap .iconlink .error span {
                color: #fff;
                font-size: 16px;
                display: block;
                width: 130px;
            }

        .errorswrap .iconlink .space {
            width: 100px;
        }

[class^="iconerror-"], [class*="iconerror-"] {
    background: transparent url(images/general/icon-404.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.iconerror-home {
    background-position: 4px 0px;
    width: 80px;
    height: 80px;
    margin: 7px 8px 0 7px;
}

.iconerror-contact {
    background-position: -76px 0px;
    width: 76px;
    height: 80px;
    margin: 7px 8px 0 7px;
}

.iconerror-retry {
    background-position: -192px 0px;
    width: 82px;
    height: 80px;
    margin: 7px 8px 0 7px;
}

#search-site {
    float: none;
    width: 300px;
    height: 50px;
    margin: 8px auto;
    background: #f8f9fb;
    position: relative;
    border-radius: 5px;
}

.topinput {
    float: left;
    width: 250px;
    border: 0;
    position: relative;
    background: #f8f9fb;
    height: 50px;
    text-indent: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.iconerror-topsearch {
    background-position: -152px 4px;
    width: 40px;
    height: 48px;
}

.btntop {
    float: right;
    width: 48px;
    height: 50px;
    border: 0;
    background: none;
}
