* {
    margin: 0;
    padding: 0;
}

body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px/18px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    color: #333;
    outline: none;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.clr {
    clear: both;
}

.hide {
    display: none !important;
}

.none {
    display: none;
}

.show {
    display: block !important;
}

header {
    position: relative;
}

section.wrapper {
    width: 100%;
    min-width: 1200px;
    max-width: 100%;
    margin-top: 0;
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

img {
    background: none;
    height: auto;
}

    img.lazy {
        opacity: 1 !important;
        background: none;
        height: auto;
    }

.fl {
    float: left;
}

.fr {
    float: right;
}

.hidden {
    overflow: hidden;
}

#dlding {
    background: rgba(0,0,0,.9);
    border-radius: 5px 5px 0 0;
    bottom: 0;
    color: #fff;
    display: none;
    padding: 10px 15px;
    position: fixed;
    right: 0;
    z-index: 99999;
    box-shadow: 0 0 15px rgba(0,0,0,1);
}

#imgtrack {
    display: none;
}

#back-top span:before {
    cursor: pointer;
    background: #fdd504;
    width: 40px;
    position: fixed;
    right: 20px;
    bottom: 45px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -transition: all .2s linear;
    color: #000;
    content: "▲";
    opacity: .7;
    z-index: 8;
}

.ps-scrollbar-y-rail {
    right: 10px !important;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y, .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: #333;
}

.fixbody {
    overflow: hidden;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.comment {
    padding-top: 15px;
}

    .comment > span {
        display: block;
        overflow: hidden;
        padding-top: 10px;
    }

        .comment > span > b {
            line-height: 20px;
            margin-right: 15px;
            font-size: 21px;
            font-weight: normal;
            font-size: 23px;
            padding-bottom: 5px;
        }

        .comment > span > * {
            height: 20px;
            display: block;
            float: left;
        }

    .comment > div {
        padding: 0;
        overflow: hidden;
        width: auto;
        max-width: none;
        margin-right: 20px;
        margin-top: 10px;
    }

        .comment > div > div {
            margin-bottom: 15px;
        }

            .comment > div > div > label {
                display: block;
                text-align: center;
                float: left;
                margin-right: 20px;
            }

                .comment > div > div > label > b {
                    font-size: 18px;
                }

                .comment > div > div > label > i {
                    font-size: 13px;
                }

    .comment .wrapcomment {
        max-width: 100%;
    }

    .comment .wrap_comment .s_comment input {
        box-sizing: border-box;
        height: 36px;
    }

.button {
    display: inline-block;
    font-weight: bold;
}

    .button > i {
        display: block;
        font-weight: normal;
        font-size: 13px;
        font-style: normal;
        color: #fff;
        margin-top: 2px;
    }

        .button > i > span > i {
            font-style: normal;
            padding: 0 5px 0 0;
            display: inline-block;
            font-size: 11px;
        }

        .button > i > em {
            display: none;
        }

    .button.large {
        height: 40px;
        padding: 12px 20px 5px 20px;
        font-size: 18px;
        text-align: center;
    }

    .button.medium {
        height: 45px;
        line-height: 45px;
        font-size: 17px;
        text-align: center;
        width: 150px;
    }

    .button.orange {
        background: rgb(248, 144, 9);
        border: 1px solid #d97f00;
        border-radius: 4px;
        color: #fff;
        background: -moz-linear-gradient(90deg, rgb(248, 144, 9) 30%, rgb(247, 110, 27) 70%);
        background: -webkit-linear-gradient(90deg, rgb(248, 144, 9) 30%, rgb(247, 110, 27) 70%);
        background: -o-linear-gradient(90deg, rgb(248, 144, 9) 30%, rgb(247, 110, 27) 70%);
        background: -ms-linear-gradient(90deg, rgb(248, 144, 9) 30%, rgb(247, 110, 27) 70%);
        background: linear-gradient(180deg, rgb(248, 144, 9) 30%, rgb(247, 110, 27) 70%);
    }

    .button.blue {
        background-color: #0099ff;
        border: 1px solid #1591d0;
        color: #fff;
        border-radius: 4px;
    }

.yellow {
    background: rgb(255, 179, 59);
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    background: -moz-linear-gradient(90deg, rgb(255, 179, 59) 0%, rgb(255, 157, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgb(255, 179, 59) 0%, rgb(255, 157, 1) 100%);
    background: -o-linear-gradient(90deg, rgb(255, 179, 59) 0%, rgb(255, 157, 1) 100%);
    background: -ms-linear-gradient(90deg, rgb(255, 179, 59) 0%, rgb(255, 157, 1) 100%);
    background: linear-gradient(180deg, rgb(255, 179, 59) 0%, rgb(255, 157, 1) 100%);
}

.button.gray {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #444 !important;
    font-size: 17px !important;
    background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(191, 191, 191) 100%);
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(191, 191, 191) 100%);
    background: -o-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(191, 191, 191) 100%);
    background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(191, 191, 191) 100%);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(191, 191, 191) 100%);
}

.config {
    text-align: center;
    overflow: hidden;
    padding: 33px 0 20px 0;
    background-color: #f8f8f8;
}

    .config .cf-left {
        float: left;
        width: 45.5%;
    }

        .config .cf-left > img {
            display: block;
            margin: 0 auto 20px auto;
            max-width: 370px;
            max-height: 370px;
        }

        .config .cf-left > a {
            display: inline-block;
            vertical-align: top;
            width: 130px;
        }

            .config .cf-left > a.medium {
                width: 200px;
            }

        .config .cf-left > b {
            display: block;
            text-align: center;
            font-size: 16px;
            padding: 10px 0;
            font-weight: normal;
        }

            .config .cf-left > b > i {
                color: #333;
                font-style: normal;
                text-decoration: line-through;
                display: inline-block;
                vertical-align: top;
                margin-left: 5px;
            }

            .config .cf-left > b > b {
                font-size: 32px;
                color: #ff0000;
            }

        .config .cf-left > a.link {
            padding: 5px 0 0 170px;
            width: 172px;
            font-size: 12px;
            color: #0099ff;
        }

    .config .p-color {
        text-align: center;
        margin-bottom: 5px;
    }

        .config .p-color > a {
            display: inline-block;
            vertical-align: middle;
            border: 2px solid transparent;
            border-radius: 50%;
            position: relative;
            width: 22px;
            height: 22px;
        }

            .config .p-color > a > i {
                display: block;
                border: 1px solid #fff;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }

            .config .p-color > a.active {
                border-color: #f37320;
            }

    .config .cf-right {
        float: right;
        width: 50%;
    }

        .config .cf-right > h3 {
            display: block;
            font-size: 31px;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: left;
        }

            .config .cf-right > h3 > span {
                float: right;
            }

                .config .cf-right > h3 > span > * {
                    display: inline-block;
                    vertical-align: middle;
                }

                .config .cf-right > h3 > span > span {
                    font-size: 12px;
                }

                .config .cf-right > h3 > span > a {
                    padding: 0 10px;
                }

                    .config .cf-right > h3 > span > a.active {
                        color: #288ad6;
                    }

    .config .tab {
        overflow: hidden;
        font-weight: bold;
        margin-bottom: 25px;
    }

        .config .tab > a {
            width: 20%;
            color: #333;
            margin-left: -4px;
            display: inline-block;
            vertical-align: middle;
            height: 35px;
            line-height: 35px;
        }

            .config .tab > a:first-child {
                margin-left: 0;
            }

            .config .tab > a.active {
                text-align: center;
                background-color: #390036;
                color: #fff;
            }

    .config .parameter {
        display: block;
        position: relative;
        overflow: hidden;
        background: #fff;
    }

        .config .parameter li {
            display: table;
            width: 100%;
            padding: 5px 0;
            text-align: left;
        }

            .config .parameter li:nth-child(2n+1) {
                background-color: #eee;
            }

            .config .parameter li:nth-child(2n+2) {
                background-color: #f5f5f5;
            }

            .config .parameter li span {
                display: table-cell;
                width: 30%;
                vertical-align: top;
                padding: 5px 10px;
                font-size: 14px;
                color: #666;
            }

            .config .parameter li div {
                display: table-cell;
                width: auto;
                vertical-align: top;
                padding: 6px 5px;
                font-size: 14px;
                color: #333;
            }

                .config .parameter li div a, .config .parameter li a {
                    color: #288ad6;
                }

                .config .parameter li div.isim {
                    display: block;
                    border-bottom: 1px solid #eee;
                }

                .config .parameter li div.ibsim {
                    display: block;
                }

                    .config .parameter li div.ibsim b.h {
                        background: #e91935;
                        color: #fff;
                        padding: 3px 5px;
                        border-radius: 3px;
                        font-size: 10px;
                        margin-right: 5px;
                    }

                    .config .parameter li div.ibsim b.p {
                        color: #d0021b;
                    }

    .config a.viewmore {
        display: inline-block;
        text-decoration: none !important;
        line-height: 1;
        border-radius: 4px;
        border: 1px solid #0099ff;
        color: #0099ff;
        padding: 10px 30px 8px 30px;
        font-size: 15px;
        margin-top: 10px;
    }

        .config a.viewmore:hover {
            background-color: #0099ff;
            color: #fff;
        }

.user-order {
    overflow: hidden;
    padding: 25px 0;
    background-color: #f8f8f8;
}

    .user-order .uo-left {
        height: 280px;
        position: relative;
        overflow: hidden;
        padding-right: 30px;
        width: 550px;
        float: left;
        border-right: 1px solid #ccc;
    }

        .user-order .uo-left.large {
            height: 455px;
        }

        .user-order .uo-left > b {
            font-size: 25px;
            display: block;
        }

        .user-order .uo-left * {
            margin-bottom: 10px;
            line-height: 1.5 !important;
            font-size: 15px;
        }

        .user-order .uo-left table {
            border: 1px solid #ccc;
            width: 95% !important;
        }

        .user-order .uo-left td {
            padding: 5px;
        }

        .user-order .uo-left p {
            font-size: 17px;
            margin-left: 0 !important;
        }

        .user-order .uo-left a {
            color: #0099ff;
        }

    .user-order .uo-right {
        width: 600px;
        float: right;
    }

        .user-order .uo-right > b {
            font-size: 25px;
            text-transform: uppercase;
            font-weight: normal;
            margin-bottom: 15px;
            display: block;
        }

        .user-order .uo-right > span {
            display: block;
            margin-bottom: 15px;
        }

            .user-order .uo-right > span > span {
                display: inline-block;
                vertical-align: middle;
            }

                .user-order .uo-right > span > span > * {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                }

                .user-order .uo-right > span > span > b {
                    width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 15px;
                    font-weight: normal;
                }

                .user-order .uo-right > span > span > i {
                    font-style: normal;
                    color: #646464;
                    width: 100px;
                }

                    .user-order .uo-right > span > span > i:last-child {
                        text-align: right;
                    }

                .user-order .uo-right > span > span > em {
                    width: 100px;
                    height: 16px;
                    line-height: 16px;
                    font-style: normal;
                }

                    .user-order .uo-right > span > span > em.check {
                        color: #63bb02;
                        background: transparent url(images/icon/iconcheckout@2x.png) no-repeat left center;
                        background-size: 260px 50px;
                        background-position: -165px -25px;
                        display: inline-block;
                        padding-left: 20px;
                        width: 80px;
                    }

        .user-order .uo-right > a {
            color: #0099ff;
        }

        .user-order .uo-right > div.clr {
            border-top: 1px solid #ccc;
            margin: 40px 0 20px 0;
        }

        .user-order .uo-right > span > * {
            display: inline-block;
            vertical-align: middle;
        }

        .user-order .uo-right > span > a {
            width: 70%;
        }

            .user-order .uo-right > span > a > * {
                display: inline-block;
                vertical-align: middle;
            }

            .user-order .uo-right > span > a > img {
                border-radius: 50%;
                margin-right: 5px;
                width: 40px;
                height: 40px;
            }

            .user-order .uo-right > span > a > span {
                color: #0099ff;
                font-size: 16px;
            }

                .user-order .uo-right > span > a > span > i {
                    color: #333;
                    font-style: normal;
                    font-size: 13px;
                }

        .user-order .uo-right > span > i {
            width: 28%;
        }

        .user-order .uo-right > b.line {
            padding-top: 15px;
            border-top: 1px solid #ccc;
            margin-top: 10px;
        }

.picture {
    padding: 27px 0 20px 0;
}

    .picture h3 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 15px;
    }

.owl-slider {
    width: 800px;
    margin: auto;
}

    .owl-slider .owl-item img {
        display: block;
        max-width: 100%;
        max-height: 500px;
        margin: auto;
    }

    .owl-slider .owl-controls {
        position: static;
    }

    .owl-slider .owl-buttons div {
        display: block !important;
        position: absolute;
        overflow: hidden;
        display: inline-block;
        font-size: 12px;
        width: 4em;
        height: 4em;
        top: 0 !important;
        background: none !important;
        -webkit-border-radius: 0;
        border-radius: 0 !important;
        bottom: 0 !important;
        margin: auto !important;
        padding: 0;
    }

        .owl-slider .owl-buttons div.owl-prev {
            border-top: 2px solid #333;
            border-left: 2px solid #333;
            transform: rotate(-51deg) skew(-15deg);
            left: -35px !important;
            padding: 0 !important;
        }

        .owl-slider .owl-buttons div.owl-next {
            border-top: 2px solid #333;
            border-right: 2px solid #333;
            transform: rotate(51deg) skew(15deg);
            right: -35px !important;
            padding: 0 !important;
        }

    .owl-slider .owl-wrapper-outer {
        background: #fff url(images/colorbox/loading.gif) no-repeat center center;
    }

a.view-large {
    text-align: center;
    margin-top: 10px;
    display: block;
}

    a.view-large > * {
        display: inline-block;
        vertical-align: middle;
    }

    a.view-large > b {
        margin-left: 2px;
        font-size: 16px;
        color: #288ad6;
        font-weight: normal;
    }

section.news {
    padding: 30px 0 0 0;
    overflow: hidden;
}

    section.news > div {
        padding: 0 20px;
    }

        section.news > div > h2 {
            font-size: 24px;
            color: #333;
            text-align: center;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

    section.news div.left {
        width: 55%;
        float: left;
        position: relative;
    }

        section.news div.left > span.loading {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 18px;
            text-align: center;
            width: 100%;
            color: #fff;
        }

        section.news div.left > iframe {
            width: 100%;
            height: 391px;
            background-color: #000;
        }

    section.news div.right {
        width: 43%;
        float: right;
    }

        section.news div.right > div {
            display: block;
            overflow: hidden;
            position: relative;
            margin-bottom: 23px;
        }

            section.news div.right > div:last-child {
                margin-bottom: 0;
            }

            section.news div.right > div > * {
                margin-bottom: 5px;
                display: block;
            }

            section.news div.right > div > a.avt {
                float: left;
                position: relative;
                width: 200px;
                height: 115px;
                margin-right: 15px;
                margin-bottom: 0;
                overflow: hidden;
            }

            section.news div.right > div > a > img {
                width: 100%;
                height: 100%;
                display: block;
            }

            section.news div.right > div > a.link {
                font-size: 18px;
                color: #333;
                line-height: 1.3;
                font-weight: bold;
                height: 46px;
                overflow: hidden;
            }

            section.news div.right > div > div {
                color: #333;
                height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            section.news div.right > div > span {
                display: inline-block;
                vertical-align: middle;
                color: #999;
                margin-right: 10px;
            }

section.newfull {
    padding: 30px 0;
    overflow: hidden;
    background-color: #000;
    font-family: 'ROBOTO LIGHT';
}

    section.newfull > div {
        padding: 0 20px;
    }

        section.newfull > div > h2 {
            font-size: 24px;
            color: #040404;
            text-align: center;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        section.newfull > div > div > b {
            font-size: 20px;
            margin-bottom: 11px;
            color: #040404;
            display: block;
        }

        section.newfull > div > div > a {
            color: #35a7ff !important;
            text-align: center;
            display: inline-block;
            padding-top: 20px;
        }

            section.newfull > div > div > a:after {
                content: '';
                width: 0;
                right: 0;
                border-top: 6px solid #35a7ff;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                display: inline-block;
                vertical-align: middle;
                margin: -2px 0 0 5px;
            }

    section.newfull div.left {
        width: 55%;
        float: left;
        position: relative;
    }

        section.newfull div.left > * {
            display: block;
            color: #fff;
        }

        section.newfull div.left > b {
            font-weight: normal;
            margin-bottom: 20px;
            font-family: ROBOTO BOLD;
        }

            section.newfull div.left > b > b {
                font-weight: normal;
            }

        section.newfull div.left > h3 {
            font-size: 18px;
            font-family: 'ROBOTO LIGHT';
        }

        section.newfull div.left > div {
            padding: 5px 0 15px 0;
            line-height: 1.5;
            font-size: 13px;
        }

            section.newfull div.left > div * {
                color: #fff !important;
                font-family: 'ROBOTO LIGHT' !important;
                font-size: 13px;
            }

            section.newfull div.left > div a {
                color: #3389d2;
            }

        section.newfull div.left > span.loading {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 18px;
            text-align: center;
            width: 100%;
            color: #fff;
        }

        section.newfull div.left > iframe {
            width: 100%;
            height: 391px;
            background-color: #000;
        }

    section.newfull div.right {
        width: 43%;
        float: right;
        text-align: center;
    }

        section.newfull div.right > b {
            text-align: left;
        }

        section.newfull div.right > div {
            display: block;
            overflow: hidden;
            position: relative;
            margin-bottom: 10px;
            text-align: left;
        }

            section.newfull div.right > div:last-child {
                margin-bottom: 0;
            }

            section.newfull div.right > div > * {
                margin-bottom: 5px;
                display: block;
            }

            section.newfull div.right > div > a.avt {
                float: left;
                position: relative;
                width: 150px;
                height: 86px;
                margin-right: 15px;
                margin-bottom: 0;
                overflow: hidden;
            }

            section.newfull div.right > div > a > img {
                width: 100%;
                height: 100%;
                display: block;
            }

            section.newfull div.right > div > a.link {
                color: #fff;
                line-height: 1.3;
                max-height: 46px;
                overflow: hidden;
                padding-top: 3px;
                font-size: 18px;
            }

            section.newfull div.right > div > div {
                color: #040404;
                height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            section.newfull div.right > div > span {
                display: inline-block;
                vertical-align: middle;
                color: #999;
                margin-right: 10px;
            }

        section.newfull div.right > a {
            padding-top: 10px;
        }

#popup.pp-config {
    width: 570px;
}

    #popup.pp-config .content {
        max-height: 430px;
    }

        #popup.pp-config .content > img {
            display: block;
            margin: 0 auto;
            height: auto;
            max-height: 300px;
        }

        #popup.pp-config .content > ul {
            padding: 10px 30px;
        }

        #popup.pp-config .content > h4 {
            display: block;
            font-size: 18px;
            color: #666;
            font-weight: 600;
            line-height: 1.3em;
            text-align: center;
        }

    #popup.pp-config .parameterfull li {
        display: table;
        background: #fff;
        width: 100%;
        border-bottom: 1px solid #dadada;
    }

        #popup.pp-config .parameterfull li label {
            display: block;
            background: #f2f2f2;
            font-size: 16px;
            font-weight: 600;
            color: #c0392b;
            padding: 8px;
        }

        #popup.pp-config .parameterfull li span {
            display: table-cell;
            width: 35%;
            vertical-align: top;
            padding: 6px 5px;
            font-size: 13px;
            color: #666;
            font-weight: 600;
        }

        #popup.pp-config .parameterfull li div {
            display: table-cell;
            width: auto;
            vertical-align: top;
            padding: 6px 5px;
            font-size: 13px;
            color: #666;
        }

        #popup.pp-config .parameterfull li.line div a {
            display: block;
        }

        #popup.pp-config .parameterfull li div a {
            color: #288ad6;
        }



        #popup.pp-config .parameterfull li.line div a::before {
            content: "•";
            color: #b7b7b7;
            vertical-align: middle;
            margin-right: 2px;
        }

        #popup.pp-config .parameterfull li div a:first-child::before {
            content: "•";
            color: #b7b7b7;
            vertical-align: middle;
            margin-right: 2px;
        }

        #popup.pp-config .parameterfull li div p {
            display: inline-block;
        }

            #popup.pp-config .parameterfull li div p:first-child::before {
                content: "•";
                color: #b7b7b7;
                vertical-align: middle;
                margin-right: 2px;
            }

        #popup.pp-config .parameterfull li.line div p {
            display: block;
        }

            #popup.pp-config .parameterfull li.line div p::before {
                content: "•";
                color: #b7b7b7;
                vertical-align: middle;
                margin-right: 2px;
            }


#popup .content {
    position: relative;
    overflow: hidden;
    padding: 5px 15px;
    max-height: 350px;
}

    #popup .content > * {
        font-size: 15px;
        line-height: 1.5 !important;
        margin-bottom: 10px;
    }

    #popup .content a {
        color: #0099ff;
    }

#popup.vid {
    width: 622px;
    padding-bottom: 0;
}

    #popup.vid .head {
        margin-bottom: 0;
    }

    #popup.vid .content {
        padding: 0;
    }

        #popup.vid .content > iframe {
            width: 100%;
            height: 350px;
            margin-bottom: 0;
        }
