<form id="frmEmailSubscribe" onsubmit="return SubmitEmailSubscribe()" class="subscribe">
    <h3>Nhận thông tin về iPhone X</h3>
    <div class="sub-gender">
        <span data-value="1"><i></i><b>Anh</b></span>
        <span data-value="0"><i></i><b>Chị</b></span>
    </div>
    <input type="text" name="txtFullName" placeholder="Họ tên của bạn" />
    <input type="tel" name="txtPhoneNumber" placeholder="Số điện thoại của bạn" />
    <button class="button medium orange">GỬI THÔNG TIN</button>
    <input type="hidden" name="hdGender" value="-1" />
</form>