@model template.Models.Video

<div id="popup" class="info">
    <a href="javascript:$.colorbox.close()" class="cls"></a>
    <b>LOA SAMSUNG</b>
    <iframe class="iframe" src="https://www.youtube.com/embed/@Model.VideoId?rel=0&modestbranding=1&showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
<a href="#popup" id="lpopup" style="display: none"></a>

